@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "EditHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Başlık Güncelleme Sayfası</h2>
@using (Html.BeginForm("EditHeading","Heading",FormMethod.Post))
{
<div class="form-group">
    @Html.Label("BASLİK ID ")
    @Html.TextBoxFor(x => x.HeadingID, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.HeadingID)
    <br /><br />
    @Html.Label("BASLİK ADİ ")
    @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.HeadingName)
    <br /><br />
    @Html.Label("TARİH ")
    @Html.TextBoxFor(x => x.HeadingDate, new { @class = "form-control" })
    <br /><br />
    @Html.Label("Yazar Id ")
    @Html.TextBoxFor(x => x.WriterID, new { @class = "form-control" })
    <br /><br />

    @Html.Label("KATEGORİ ")
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.HeadingName)
    <br />

    <button class="btn btn-outline-info">GUNCELLE</button>
</div>
}


